.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center;
    padding: 15px;
    background-color: lightgray; /* Very light gray for a clean footer background */
    color: #343a40;
    font-weight: 500;
    font-size: 16px;
  }